*{

}
.container{
    width: 500px;
    height: 600px;
    background-color: gray;
    text-align: center;
    padding-top: 20px;
}
h1{
     color: black;
}
p{
    color: white;
}
.result p{
    color: black;
}
.error p{
    border: 4px solid blueviolet;
    margin-left: 150px;
    margin-right: 150px;
}